.breadcrumbs{
  margin-bottom: 10px;
}
.breadcrumbs__item{
  display: inline-block;
  vertical-align: middle;
  font-style: italic;
  font-weight: bold;
}
.breadcrumbs__item::after{
  content: "/";
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs__item:last-child::after{
  display: none;
}
.breadcrumbs__link{
  opacity: .8;
  color: #4b73b5;
  text-decoration: underline;
}
.breadcrumbs__link--active{
  color: #000;
  text-decoration: none;
}