footer{ 
  background-color: #4b73b5;
  min-width: 1100px;
  color: #ffffff;
}
.footer__content{
  min-height:77px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__left{
  width: 30%;
  margin-right: auto;  
}
.footer__right{
  width: 30%;
  margin-left: auto;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
