.partners{
  margin-bottom: 38px;
}
.partners__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners__item{
  flex: 0 1 280px;
  height: 64px;
  margin-bottom: 65px;
}
.partners__link{
  height: 100%;
  display:flex;
  filter: grayscale(100%);
  transition: 0.2s;
}
.partners__link:hover {
  filter: none;
}
.partners__img{
 margin: auto;
 max-width: 100%;
 max-height: 100%;
}
