.socials{
  display: inline-block;
  text-align: left;
}
.socials__text{
  font-weight: bold;
  margin-bottom: 8px;
}
.socials__item{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background-color: #d2def3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  margin-right: 7px;
  font-size: 0;
}
.socials__item:hover{
  background-color: #fff;
}
.socials__list-link{
  width: 100%;
  height: 100%;
  display: inline-block;
}
.socials__list-link:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%; 
}
.socials__list-icon{
  vertical-align: middle;
}
