.content-title {
  font-size: 49px;
  font-weight: bold;
  margin: 0 0 30px;
}
.title-price{
  margin-bottom: 20px;
}
.title-news{
  margin-bottom: 60px;
}
.title-feedback{
  margin-bottom: 8px;
}
.title-team{
  margin-bottom: 33px;
}
